<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="document/head :: head_section"></head>
<body>
<div th:replace="document/content :: content_section_title"></div>

<!---->
<form class="form-inline" th:action="@{/import-data}" method="post" style="margin-top: 5px">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" id="path" name="path" placeholder="Podaj pełną ścieżkę pliku">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Załaduj plik</button>
    <a href="/delete-data" class="btn btn-danger mb-2" style="margin-left: 5px">Usuń wszystkie dane z bazy</a>
</form>
<div class="alert alert-danger" role="alert" th:if="${fail} == 'True'" style="margin-left: 15px; margin-right: 15px">
    Nie udało się wczytać pliku
</div>
<div class="alert alert-success" role="alert" th:if="${fail} == 'False'" style="margin-left: 15px; margin-right: 15px">
    Udało się wczytać plik
</div>

<div style="margin-left: 15px; margin-right: 15px">
    <div class="msg even" style="font-size: 18px">
        Lista uzytkownikow
    </div>


    <table class="table table-bordered table-condensed">
        <thead>
        <tr class="active">
            <th>Id</th>
            <th>Imię</th>
            <th>Nazwisko</th>
        </tr>
        </thead>
        <tbody>
        <tr class="success" data-th-each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td>
                <form th:action="@{/person-data}" method="get">

                    <div class="col-sm-10 col-md-8 form-group">
                        <input type="number" name="id" th:value="${user.id}" class="form-control" hidden>
                    </div>
                    <div class="col-sm-10 col-md-10 form-group">
                        <button type="submit" class="btn btn-success btn-sm form-control">
                            <i aria-hidden="true">Podgląd</i>
                        </button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="msg even" style="font-size: 18px">
        Lista Filmow
    </div>


    <table class="table table-bordered table-condensed">
        <thead>
        <tr class="active">
            <th>Id</th>
            <th>Tytuł</th>
            <th>Rok produkcji</th>
            <th>Podgląd danych</th>
        </tr>
        </thead>
        <tbody>
        <tr class="success" data-th-each="movie : ${movies}">
            <td th:text="${movie.id}"></td>
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.year_of_production}"></td>
            <td>
                <form th:action="@{/movie-data}" method="get">

                        <div class="col-sm-10 col-md-8 form-group">
                            <input type="number" name="id" th:value="${movie.id}" class="form-control" hidden>
                        </div>
                        <div class="col-sm-10 col-md-10 form-group">
                            <button type="submit" class="btn btn-success btn-sm form-control">
                                <i aria-hidden="true">Podgląd</i>
                            </button>
                        </div>
                </form>
            </td>

        </tr>
        </tbody>
    </table>

    <div class="msg even" style="font-size: 18px">
        Lista Kategorii filmów
    </div>


    <table class="table table-bordered table-condensed">
        <thead>
        <tr class="active">
            <th>Id</th>
            <th>nazwa</th>
        </tr>
        </thead>
        <tbody>
        <tr class="success" data-th-each="category : ${categories}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
        </tr>
        </tbody>
    </table>



</div>


</body>
<footer th:replace="document/footer :: footer_section"></footer>
</html>