<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="document/head :: head_section"></head>
<body>
<div th:replace="document/content :: content_section_title"></div>

<!---->


<div style="margin-left: 15px; margin-right: 15px">
    <div class="msg even" style="font-size: 18px">
        Lista uzytkownikow
    </div>


    <table class="table table-bordered table-condensed">
        <thead>
        <tr class="active">
            <th>Id</th>
            <th>Imię</th>
            <th>Nazwisko</th>
        </tr>
        </thead>
        <tbody>
        <tr class="success" data-th-each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
        </tr>
        </tbody>
    </table>

    <div class="msg even" style="font-size: 18px">
        Lista Filmow
    </div>


    <table class="table table-bordered table-condensed">
        <thead>
        <tr class="active">
            <th>Id</th>
            <th>Tytuł</th>
            <th>Rok produkcji</th>
        </tr>
        </thead>
        <tbody>
        <tr class="success" data-th-each="movie : ${movies}">
            <td th:text="${movie.id}"></td>
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.year_of_production}"></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
<footer th:replace="document/footer :: footer_section"></footer>
</html>